#titles{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

path{
    stroke-width: 1px;
    stroke: black;
}

/* svg{
    
} */

select{
    display: block;
    margin: 0 auto;
} 

body{
    background-color: #E0EEC6;
}

.myline{
    transition: visibility 3s, opacity 1s linear;
}

.mycircle{
    transition: visibility 3s, opacity 1s linear;
}
/* svg{
    border: 3px solid red;
} */

/* isolate line elements and move them up the svg */