#titles{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


/* svg{
    margin-left: 10px;
} */

select{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    
} 

/* .myXaxis{
    font-weight: bold;
} */

body{
    background-color: #EE6C4D;
}

.myline{
    transition: opacity 3s linear;
}

.mycircle{
    transition: opacity 3s linear;
}

.newline{
    transition: opacity 3s linear;
}

.newcircle{
    transition: opacity 3s linear;
}

.main-par{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* margin-bottom: 100px; */
    /* -webkit-text-stroke: .15px black; */
}

/* .axis-label-x{
    font-weight: bold;
} */

.axis-label-y{
    font-weight: bold;
    font-size: large;
font-family: 'Playfair Display SC', serif;
/* padding: 20px; */
}

.axis-label-x{
    font-weight: bold;
    font-size: large;
    font-family: 'Playfair Display SC', serif;
}

.dashes{
    text-align: center;
}
/* svg{
    border: 3px solid red;
} */

/* isolate line elements and move them up the svg */
