#titles{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

path{
    stroke-width: 1px;
    stroke: black;
}

/* svg{
    
} */

select{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    
} 

body{
    background-color: #DB9065;
}

.myline{
    transition: opacity 3s linear;
}

.mycircle{
    transition: opacity 3s linear;
}

.newline{
    transition: opacity 3s linear;
}

.newcircle{
    transition: opacity 3s linear;
}

.main-par{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 100px;
}
/* svg{
    border: 3px solid red;
} */

/* isolate line elements and move them up the svg */